<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809414261773-sglmt47kkisibdo536o5jsqanskpnk1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809414261773-sglmt47kkisibdo536o5jsqanskpnk1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAJD5QuiE7mH20rDIrQLe5wMygq8R12YUA</string>
	<key>GCM_SENDER_ID</key>
	<string>809414261773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clearspend.clearspend.uat</string>
	<key>PROJECT_ID</key>
	<string>firebase-qa-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-qa-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809414261773:ios:bdbc9c8bc5a5d54fabe944</string>
</dict>
</plist>
